@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap");

body {
  margin: 0;
  font-size: 1em;
  color: #000;
  background-color: #f5f5eb;
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
}

.heading {
  margin: 0;
  padding: 0;
  text-align: left;
  margin-bottom: 20px;
  font-weight: 900;
}

.content-wrapper {
  padding: 10% 0;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  max-width: 600px;
  height: 100vh;
}

.content-wrapper:hover .tab-item,
.tab-item[open] {
  color: #000;
}

.content-wrapper:hover .tab-close-icon {
  visibility: visible;
}

.tab-item {
  border-top: 1px solid #aaaaa3;
  font-size: 1.5em;
  color: #7b35e6;
  cursor: pointer;
}

.tab-title {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
  padding: 5% 0;
}

.tab-close-icon {
  visibility: hidden;
}

.tab-item[open] .tab-close-icon {
  transform: rotate(45deg);
}

.tab-content {
  text-align: center;
}
